hr {
    height: 2px;
    background-color: #000;
}
@mixin btn{
    color: #f3f3f3;
    width: 120px;
    font-size: 15px;
    text-align: left;
}
.usersManager {
    ul.boxSearch{
        padding: 0;
        display: flex;
        list-style-type: none;
        justify-content: space-around; 
        .groupSearch{
            display: block;
            label {
                font-weight: 600;
                display: block;
            }
            input {
                width: 200px;
            }
            select{
                width: 200px;
            }
        }
    }
    .boxControl {
        display: flex;
        position: relative;
        color: #FFFFFF;
        .btnAdd {
            position: absolute;
            left: 0px;
            background-color: #2c43b8;
            @include btn();
        }
        .btnAdd:hover {
            cursor: pointer;
        }
        .btnFind {
            right: 25%;
            position: absolute;
            @include btn();
            background-color: #2c43b8;
        }
        .btnFind:hover {
            cursor: pointer;
        }
        .btnDelete {
            right: 5%;
            position: absolute;
            @include btn();
            background-color:  #89e82a;
        }
        .btnDelete:hover {
            cursor: pointer;
        }
        i {
            padding-right: 5px;
        }
    }
    .table {
        width: 100%;
        margin-top: 20px;
        thead{
            background-color: #ff1212;
            width: 100%;
            tr{
                
                th {
                    text-align: left;
                    color: #FFFFFF;
                }
            }
            
        }
        
    }

}